<!DOCTYPE html>
<html>

<head>
  <title>Reddit Archiver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </style>
</head>

<body>

<!-- NAV SECTION -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Reddit Archiver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subreddits">Subreddits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 

    <h1 class="display-6" id="add_comment">Add a Comment</h1>
    <div class="container-lg" id="add_comment_container">
        <form>
            <div class="mb-3">
                <label for="user_id" class="form-label">User ID</label>
                <input type="number" class="form-control" id="user_id">
            </div>
            <div class="mb-3">
                <label for="post_id" class="form-label">Post ID</label>
                <input type="number" class="form-control" id="post_id">
            </div>
            <div class="mb-3">
                <label for="comment_id" class="form-label">Comment ID</label>
                <input type="number" class="form-control" id="comment_id">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body of Comment</label>
                <input type="text" class="form-control" id="body">
            </div>
            <div class="mb-3">
                <label for="num_upvotes" class="form-label">Number of Upvotes</label>
                <input type="number" class="form-control" id="num_upvotes">
            </div>
            <div class="mb-3">
                <label for="comment_date" class="form-label">Date</label>
                <input type="date" class="form-control" id="comment_date">
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>

    <br>
    <br>
    <hr/>
    
    <h1 class="display-6" id="recent_comments">Recent Comments</h1>
    <div class="container-lg" id="comment_table_container">
        
        <h6>Filter comments by username</h6>
        <div class="row">
            <div class="col-4">
                <input type="text" class="form-control">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="button">Filter</button>
            </div>
        </div>
        
        <table class="table" id="comment_table">
            <thead>
                    <th>Post ID</th>
                    <th>User ID</th>
                    <th>Comment ID</th>
                    <th>Comment Body</th>
                    <th>Number of Upvotes</th>
                    <th>Date</th>
                    <th>Edit Comment</th>
                    <th>Delete Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table_row">
                    <td>
                        412
                    </td>
                    <td>
                        54 
                    </td>
                    <td>
                        458
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium, urna placerat posuere imperdiet, neque. 
                    </td>
                    <td>
                        1 
                    </td>
                    <td>
                        5/6/2021
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Delete</button>
                    </td>
                </tr>
                <tr class="table_row">
                    <td>
                        394
                    </td>
                    <td>
                        90 
                    </td>
                    <td>
                        457
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium, urna placerat posuere imperdiet, neque. 
                    </td>
                    <td>
                        2 
                    </td>
                    <td>
                        5/6/2021
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Delete</button>
                    </td>
                </tr>
                <tr class="table_row">
                    <td>
                        371
                    </td>
                    <td>
                        32 
                    </td>
                    <td>
                        456
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium, urna placerat posuere imperdiet, neque. 
                    </td>
                    <td>
                        1 
                    </td>
                    <td>
                        5/6/2021
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Delete</button>
                    </td>
                </tr>
                <tr class="table_row">
                    <td>
                        368
                    </td>
                    <td>
                        89 
                    </td>
                    <td>
                        455
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium, urna placerat posuere imperdiet, neque. 
                    </td>
                    <td>
                        6 
                    </td>
                    <td>
                        5/6/2021
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>