{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg" id="add_comment_container">
  <h1 class="display-6" id="add_comment">Add a Comment</h1>
  <form action="{{ url_for('comments') }}" method="POST">
    <div class="mb-3">
       <label for="post_title" class="form-label">Choose a Post:</label>
        <select class="form-control" id="post_title" name="post_title">
          {% for row in post_data %}
          <option value="{{ row['title'] }}">{{ row['title'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
       <label for="username" class="form-label">Choose a User:</label>
        <select class="form-control" id="username" name="username">
          {% for row in user_data %}
          <option value="{{ row['username'] }}">{{ row['username'] }}</option>
          {% endfor %}
        </select>
      </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body of Comment</label>
      <input type="text" class="form-control" id="body" name="body">
    </div>
    <div class="mb-3">
      <label for="num_upvotes" class="form-label">Number of Upvotes</label>
      <input type="number" class="form-control" id="num_upvotes" name="num_upvotes">
    </div>
    <div class="mb-3">
      <label for="comment_date" class="form-label">Date</label>
      <input type="date" class="form-control" id="comment_date" name="comment_date">
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</div>

<br>
<br>
<hr />

<h1 class="display-6" id="recent_comments">Recent Comments</h1>
<div class="container-lg" id="comment_table_container">

  <form action="{{ url_for('comments') }}" method="POST">
    <label for="filter_username" class="form-label">Filter comments by username</label>
  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" id="filter_username" name="filter_username" placeholder="Username">
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Filter</button>
    </div>
  </div>
  </form>

  <table class="table" id="comment_table">
    <thead>
      <th>ID</th>
      <th>Username</th>
      <th>Post Title</th>
      <th>Comment</th>
      <th>Subreddit</th>
      <th>Number of Upvotes</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {% if comment_data|length == 0 %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {% else %}
      {% for row in comment_data %}
      <tr class="table_row">
        <td>{{ row['commentID']}}</td>
        <td>{{ row['username']}}</td>
        <td>{{ row['title']}}</td>
        <td>{{ row['body']}}</td>
        <td>{{ row['subredditName']}}</td>
        <td>{{ row['numUpvotes']}}</td>
        <td class="button_columns">
          <form action="{{ url_for('update_comments') }}" method="POST">
                <input type="hidden" id="commentID" name="commentID" value="{{ row['commentID'] }}">
                <input type="hidden" id="comment_username" name="comment_username" value="{{ row['username'] }}">
                <input type="hidden" id="title" name="title" value="{{ row['title'] }}">
                <input type="hidden" id="comment_body" name="body" value="{{ row['body'] }}">
                <input type="hidden" id="subredditName" name="subredditName" value="{{ row['subredditName'] }}">
                <input type="hidden" id="numUpvotes" name="numUpvotes" value="{{ row['numUpvotes'] }}">
                <input type="hidden" id="commentDate" name="commentDate" value="{{ row['date'] }}">
                <input type="hidden" id="updated" name="updated" value="0">
                <button type="submit" class="btn btn-outline-secondary btn-block">Update</button>
          </form>
        </td>
        <td class="button_columns">
          <form action="{{ url_for('delete_comments') }}" method="POST">
                <input type="hidden" name="commentID" value="{{ row['commentID'] }}">
                <button type="submit" class="btn btn-outline-secondary btn-block">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}