{% extends "layouts/base.html" %}

{% block body %}
<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <a href="/comments">Comments</a>
    </div>
    <div class="col">
      <a href="/posts">Posts</a>
    </div>
    <div class="col">
      <a href="/subreddits">Subreddits</a>
    </div>
    <div class="col">
      <a href="/users">Users</a>
    </div>
    <div class="col">
      <a href="/subreddits_users">Subreddits+Users</a>
    </div>
  </div>

</div>

{% endblock %}