{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg p-5" id="main_post_container">
  <h4>Add Posts:</h4>
  <form>
    <div class="mb-3">
      <label for="post" class="form-label">Post Title</label>
      <input type="text" class="form-control" id="post_title">
    </div>
    <div class="mb-3">
      <label for="post_subreddit" class="form-label">Subreddit</label>
      <input type="text" class="form-control" id="post_subreddit">
    </div>
    <div class="mb-3">
      <label for="post_username" class="form-label">Username</label>
      <input type="text" class="form-control" id="post_username">
    </div>
    <div class="mb-3">
      <label for="post_body" class="form-label">Body</label>
      <input type="text" class="form-control" id="post_body">
    </div>
    <div class="mb-3">
      <label class="form-label" for="num_upvotes">Upvotes</label>
      <input type="number" class="form-control" id="num_upvotes">
    </div>
    <div class="mb-3">
      <label for="post_date" class="form-label">Date</label>
      <input type="date" class="form-control" id="post_date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<hr />

<div class="container-fluid" id="main_post_containter">
  <h1 class="display-6" id="post_heading">Current Posts</h1>

  <div class="container-md" id="post_container">
    <table class="table" id="post_table">
      <thead>
        <th>ID</th>
        <th>Post Title</th>
        <th>Body</th>
        <th>Upvotes</th>
        <th>Post Date</th>
        <th>Subreddit</th>
        <th>Username</th>
        <th></th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table_row">
          <td>
            1
          </td>
          <td>
            CS 325 Midterm Format
          </td>
          <td>
            Post Body
          </td>
          <td>
            9
          </td>
          <td>
            5/4/2021
          </td>
          <td>
            r/OSUOnlineCS
          </td>
          <td>
            u/littlejack
          </td>
          <td class="button_columns">
            <input class="btn btn-outline-secondary btn-block" value="Update" type="button">
            <input type="hidden" id="update">
          </td>
          <td class="button_columns">
            <input class="btn btn-outline-secondary btn-block" value="Delete" type="button">
            <input type="hidden" id="delete">
          </td>
        </tr>
        <tr class="table_row">
          <td>
            2
          </td>
          <td>
            Golden Retriver goes Mountain Biking
          </td>
          <td>
            Post Body
          </td>
          <td>
            1000
          </td>
          <td>
            5/4/2016
          </td>
          <td>
            r/Animalsbeingderps
          </td>
          <td>
            u/littlejack
          </td>
          <td class="button_columns">
            <input class="btn btn-outline-secondary btn-block" value="Update" type="button">
            <input type="hidden" id="update">
          </td>
          <td class="button_columns">
            <input class="btn btn-outline-secondary btn-block" value="Delete" type="button">
            <input type="hidden" id="delete">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

{% endblock %}