{% extends "layouts/base.html" %}


{% block body %}
<div class="container-lg p-5" id="main_subreddit_container">
  <h4>Add Subreddit:</h4>
  <form action="{{ url_for('subreddits') }}" method="POST">
    <div class="mb-3">
      <label for="subreddit_name" class="form-label">Subreddit Name</label>
      <input type="text" class="form-control" id="subreddit_name" name="subreddit_name">
    </div>
    <div class="mb-3">
      <label for="subreddit_users" class="form-label">Number of Users</label>
      <input type="text" class="form-control" id="subreddit_users" name="subreddit_users">
    </div>
    <div class="mb-3">
      <label for="subreddit_about" class="form-label">About</label>
      <input type="text" class="form-control" id="subreddit_about" name="subreddit_about">
    </div>
    <div class="mb-3">
      <label for="subreddit_date_created" class="form-label">Date Created</label>
      <input type="date" class="form-control" id="subreddit_date_created" name="subreddit_date_created">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<hr />
<div class="container-fluid">

  <h1 class="display-6" id="post_heading">Current Subreddits</h1>
  <table class="table" id="subreddit_table">
    <thead>
      <th>ID</th>
      <th>Subreddit Name</th>
      <th>Number of Users</th>
      <th>About</th>
      <th>Date Created</th>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      {% if subreddit_data|length == 0 %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {% else %}
      {% for row in subreddit_data %}
      <tr class="table_row">
        <td>{{ row['subredditID']}}</td>
        <td>{{ row['subredditName']}}</td>
        <td>{{ row['numMembers']}}</td>
        <td>{{ row['about']}}</td>
        <td>{{ row['dateCreated']}}</td>
        <td class="button_columns">
          <input class="btn btn-outline-secondary btn-block" value="Update" type="button">
          <input type="hidden" id="update">
        </td>
        <td class="button_columns">
          <input class="btn btn-outline-secondary btn-block" value="Delete" type="button">
          <input type="hidden" id="delete">
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}