{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg p-5" id="main_subreddit_container">
  <h4>Add Subreddit:</h4>
  <form action="{{ url_for('subreddits') }}" method="POST">
    <div class="mb-3">
      <label for="subreddit_name" class="form-label">Subreddit Name</label>
      <input type="text" class="form-control" id="subreddit_name" name="subreddit_name" required>
    </div>
    <div class="mb-3">
      <label for="subreddit_users" class="form-label">Number of Users</label>
      <input type="text" class="form-control" id="subreddit_users" name="subreddit_users" required>
    </div>
    <div class="mb-3">
      <label for="subreddit_about" class="form-label">About</label>
      <input type="text" class="form-control" id="subreddit_about" name="subreddit_about" required>
    </div>
    <div class="mb-3">
      <label for="subreddit_date_created" class="form-label">Date Created</label>
      <input type="date" class="form-control" id="subreddit_date_created" name="subreddit_date_created" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<hr />
<div class="container-fluid">

  <h1 class="display-6" id="post_heading">Current Subreddits</h1>
  <table class="table" id="subreddit_table">
    <thead>
      <th>ID</th>
      <th>Subreddit Name</th>
      <th>Number of Users</th>
      <th>About</th>
      <th>Date Created</th>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      {% if subreddit_data|length == 0 %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {% else %}
      {% for row in subreddit_data %}
      <tr class="table_row">
        <td>{{ row['subredditID']}}</td>
        <td>{{ row['subredditName']}}</td>
        <td>{{ row['numMembers']}}</td>
        <td>{{ row['about']}}</td>
        <td>{{ row['dateCreated']}}</td>
        <td class="button_columns">
          <form action="{{ url_for('update_subreddits') }}" method="POST">
            <input type="hidden" id="subredditID" name="subredditID" value="{{ row['subredditID'] }}">
            <input type="hidden" id="subredditName" name="subredditName" value="{{ row['subredditName'] }}">
            <input type="hidden" id="numMembers" name="numMembers" value="{{ row['numMembers'] }}">
            <input type="hidden" id="about" name="about" value="{{ row['about'] }}">
            <input type="hidden" id="dateCreated" name="dateCreated" value="{{ row['dateCreated'] }}">
            <input type="hidden" id="updated" name="updated" value="0">
            <button type="submit" class="btn btn-outline-secondary btn-block">Update</button>
          </form>
        </td>
        <td class="button_columns">
          <form action="{{ url_for('delete_subreddit') }}" method="POST">
            <input type="hidden" id="subredditID" name="subredditID" value="{{ row['subredditID'] }}">
            <button type="submit" class="btn btn-outline-secondary">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}