<!DOCTYPE html>
<html>

<head>
  <title>Reddit Archiver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </style>
</head>

<body>

  <! -- NAV SECTION -- >
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Reddit Archiver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subreddits">Subreddits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
 
  <div class="container-fluid pb-5" id="main_post_container">
    <h4>Add Subreddit: </h4>
  </div>
  <form>
    <div class="form-group">
      <label for="exercise_name">Excercise Name</label>
      <input type="text" class="form-control" id="workout" placeholder="Burpees">
      <label for="rep_num">Number of Reps</label>
      <input type="number" class="form-control" id="rep_num" value="0">
      <label for="weight">Weight</label>
      <input type="number" class="form-control" id="weight" value="15">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date" value="2021-01-01">
    </div>
    <br>
    <div class="form-group">
      <div class="form-control">
        <label for="input-units">Units</label>
        <select id="input-units" class="form-control">
          <option value="0">kg</option>
          <option value="1">lbs</option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary p-2" id="add_workout">Submit</button>
  </form>
  <hr />

  <div class="container-fluid" id="main_comment_containter">


  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>