{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg" id="add_container">
  <h1 class="display-6" id="add_sub_user">Add Relationship Between Subreddits & Users</h1>
  <form action="{{ url_for('subreddits_users') }}" method="POST">
    <div class="mb-3">
      <label for="sub_user_id" class="form-label">Subreddit_User ID</label>
      <input type="number" class="form-control" id="sub_user_id" placeholder="Auto-Incrementing" readonly>
    </div>
    <div class="mb-3">
      <label for="subreddit_id" class="form-label">Subreddit ID</label>
      <input type="number" class="form-control" id="subreddit_id">
    </div>
    <div class="mb-3">
      <label for="user_id" class="form-label">User ID</label>
      <input type="number" class="form-control" id="user_id">
    </div>
    <button type="submit" class="btn btn-primary">Add Relationship</button>
  </form>
</div>

<br>
<br>
<hr />

<h1 class="display-6" id="sub_users_heading">Subreddits & Users</h1>
<div class="container-lg" id="sub_users">
  <table class="table" id="sub_users_table">
    <thead>
      <th>Subreddit_User ID</th>
      <th>Subreddit ID</th>
      <th>Subreddit Name</th>
      <th>User ID</th>
      <th>Username</th>
      <th>Delete Relationship</th>
      </tr>
    </thead>
    <tbody>
            {% for row in subreddits_users_data %}
            <tr class="table_row">
                <td>{{ row['subredditUserID']}}</td>
                <td>{{ row['subredditID']}}</td>
                <td>{{ row['subredditName']}}</td>
                <td>{{ row['userID']}}</td>
                <td>{{ row['username']}}</td>
                <td><button class="btn btn-outline-secondary">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
  </table>
</div>

{% endblock %}