{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg" id="add_comment_container">
  <h4>Update a User</h4>
  {% if update_data != 0 %}
  <form action="{{ url_for('update_users') }}" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ update_data['username'] }}" readonly>
    </div>
    <div class="mb-3">
      <label for="karma" class="form-label">Karma</label>
      <input type="number" class="form-control" id="karma" name="karma" value="{{ update_data['karma'] }}" readonly>
    </div>
    <div class="mb-3">
      <label for="cakeDay" class="form-label">Cake Day</label>
      <input type="date" class="form-control" id="cakeDay" name="cakeDay" value="{{ update_data['cakeDay']}}">
    </div>
    <input type="hidden" id="userID" name="userID" value="{{ update_data['userID'] }}">
    <input type="hidden" id="updated" name="updated" value="1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endif %}
</div>
{% endblock %}