{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg" id="add_comment_container">
  <h1 class="display-6" id="add_comment">Update a Comment</h1>
  {% if update_data != 0 %}
  <form action="{{ url_for('update_comments') }}" method="POST">
    <div class="mb-3">
      <label for="comment_username" class="form-label">Choose a User:</label>
      <select class="form-control" id="comment_username" name="comment_username">
        <option value="NULL">None</option>
        {% for row in user_data %}
        <option value="{{ row['username'] }}">{{ row['username'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Choose a Post:</label>
      <select class="form-control" id="title" name="title">
        <option value="NULL">None</option>
        {% for row in post_data %}
        <option value="{{ row['title'] }}">{{ row['title'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body of Comment</label>
      <input type="text" class="form-control" id="body" name="body" required>
    </div>
    <div class="mb-3">
      <label for="numUpvotes" class="form-label">Number of Upvotes</label>
      <input type="number" class="form-control" id="numUpvotes" name="numUpvotes"
        value="{{ update_data['num_upvotes'] }}" required>
    </div>
    <input type="hidden" id="commentID" name="commentID" value="{{ update_data['commentID'] }}">
    <input type="hidden" id="updated" name="updated" value="1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endif %}
</div>
{% endblock %}