{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg p-5" id="main_post_container">
  <h4>Update a Post:</h4>
  {% if update_data != 0 %}
  <form action="{{ url_for('update_posts') }}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Post Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ update_data['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="subredditName" class="form-label">Choose a Subreddit:</label>
      <select class="form-control" id="subredditName" name="subredditName">
        <option value="NULL">None</option>
        {% for row in subreddit_data %}
        <option value="{{ row['subredditName'] }}">{{ row['subredditName'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Choose a User:</label>
      <select class="form-control" id="username" name="username">
        <option value="NULL">None</option>
        {% for row in user_data %}
        <option value="{{ row['username'] }}">{{ row['username'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <input type="text" class="form-control" id="body" name="body" value="{{ update_data['body'] }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="numUpvotes">Upvotes</label>
      <input type="number" class="form-control" id="numUpvotes" name="numUpvotes"
        value="{{ update_data['num_upvotes'] }}" required>
    </div>
    <div class="mb-3">
      <label for="postDate" class="form-label">Date</label>
      <input type="date" class="form-control" id="postDate" name="postDate" value="{{ update_data['date'] }}" required>
    </div>
    <input type="hidden" id="postID" name="postID" value="{{ update_data['postID'] }}">
    <input type="hidden" id="updated" name="updated" value="1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endif %}
</div>

{% endblock %}