{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg p-5" id="main_subreddit_container">
  <h4>Update a Subreddit</h4>
  {% if update_data != 0 %}
  <form action="{{ url_for('update_subreddits') }}" method="POST">
    <div class="mb-3">
      <label for="subredditName" class="form-label">Subreddit Name</label>
      <input type="text" class="form-control" id="subredditName" name="subredditName" value="{{ update_data['name'] }}"
        readonly>
    </div>
    <div class="mb-3">
      <label for="numMembers" class="form-label">Number of Users</label>
      <input type="text" class="form-control" id="numMembers" name="numMembers" value="{{ update_data['num_users'] }}" required>
    </div>
    <div class="mb-3">
      <label for="about" class="form-label">About</label>
      <input type="text" class="form-control" id="about" name="about" value="{{ update_data['about'] }}" required>
    </div>
    <div class="mb-3">
      <label for="dateCreated" class="form-label">Date Created</label>
      <input type="date" class="form-control" id="dateCreated" name="dateCreated" value="{{ update_data['date'] }}" required>
    </div>
    <input type="hidden" id="subredditID" name="subredditID" value="{{ update_data['subredditID'] }}">
    <input type="hidden" id="updated" name="updated" value="1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% endif %}

</div>

{% endblock %}