{% extends "layouts/base.html" %}

{% block body %}
<div class="container-lg" id="add_user_container">
    <h1 class="display-6" id="add_user">Add a User</h1>
    <form action="{{ url_for('users') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="karma" class="form-label">Karma</label>
            <input type="number" class="form-control" id="karma" name="karma">
        </div>
        <div class="mb-3">
            <label for="cake_day" class="form-label">Cake Day</label>
            <input type="date" class="form-control" id="cake_day" name="cake_day">
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</div>

<br>
<br>
<hr />

<h1 class="display-6" id="new_users_heading">New Users</h1>
<div class="container-lg" id="new_users">
    <table class="table" id="users_table">
        <thead>
            <th>User ID</th>
            <th>Username</th>
            <th>Karma</th>
            <th>Cake Day</th>
            <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            {% if user_data|length == 0 %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            {% else %}
            {% for row in user_data %}
            <tr class="table_row">
                <td>{{ row['userID']}}</td>
                <td>{{ row['username']}}</td>
                <td>{{ row['karma']}}</td>
                <td>{{ row['cakeDay']}}</td>
                <td class="button_columns">
                    <form action="{{ url_for('update_users') }}" method="POST">
                    <input type="hidden" id="userID" name="userID" value="{{ row['userID'] }}">
                    <input type="hidden" id="username" name="username" value="{{ row['username'] }}">
                    <input type="hidden" id="karma" name="karma" value="{{ row['karma'] }}">
                    <input type="hidden" id="cakeDay" name="cakeDay" value="{{ row['cakeDay'] }}">
                    <input type="hidden" id="updated" name="updated" value="0">
                    <button type="submit" class="btn btn-outline-secondary btn-block">Update</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_users') }}" method="DELETE">
                        <input type="hidden" id="userID" name="userID" value="{{ row['userID'] }}">
                        <button type="submit" class="btn btn-outline-secondary">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}